@charset "utf-8";

/* ==========================================================================
1. CSS Reset Code
========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html { scroll-behavior: smooth; }

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  overflow-x: hidden;
}

ol,
ul { list-style: none; }

img,
video {
  width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
  outline: none;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a { 
  color: #fff;
  display: inline-block;
  text-decoration: none; 
}

/* 1.2. Clear Fix
========================== */
.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

body { overflow-x: hidden;}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section {
  flex: none;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one { background-color: #fffee1;}
.two { background-color: #e2fcff;}
.three { background-color: #d0eaff;}
.four { background-color: #fce8f4;}
.section ul { list-style: none;}

.section img { 
  height: 10px;
  position: absolute;
  left: 0;
  bottom: 48%;
}

.three li:nth-child(1) img{
  width: 12%;
  height: auto;
  z-index: 5;
  /* transform:translate(144px, -1.9732px) rotate(-1.55099deg); */
}

.three li:nth-child(2) img {
  width: 13%;
  height: auto;
  left: 7%;
  bottom: calc(48% - 100px);
  z-index: 4;
}

.three li:nth-child(3) img {
  width: 25%;
  height: auto;
  left: 16.4%;
  bottom: calc(48% - 200px);
  z-index: 2;
}

.three li:nth-child(4) img {
  width: 10%;
  height: auto;
  left: 37.3%;
  bottom: calc(48% - 250px);
  z-index: 4;
}

.three li:nth-child(5) img {
  width: 13%;
  height: auto;
  left: 41.4%;
  bottom: calc(48% - 50px);
  z-index: 4;
}

@media screen and (max-width:768px) {
  .container {
    height: auto;
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
}

/* JS common classes */
.container .section .og-position { 
  transform:translate(0, 0) rotate(0);
  border: 1px solid red;
}